### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#calculate the total number of schools
total_schools = school_data_complete["school_name"].nunique()
#calculate the total number of students
total_students = school_data_complete["Student ID"].nunique()
#calculate the total budget
total_budget = school_data_complete["budget"].sum()
#calculate average maths score
average_math_score = school_data_complete["maths_score"].mean()
#calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
#Calculate the percentage of students with a passing maths score (50 or greater)
passing_math_score = len(school_data_complete[school_data_complete["maths_score"]>=50])
percentage_passing_math_score = passing_math_score/total_students*100
#Calculate the percentage of students with a passing reading score (50 or greater)
passing_reading_score = len(school_data_complete[school_data_complete["reading_score"]>=50])
percentage_reading_score = passing_reading_score/total_students*100 
#Calculate the percentage of students who passed maths and reading (% Overall Passing)
overall_percentage_passing_rate = (average_math_score + average_reading_score)/2
#Create a dataframe to hold the above resultsCreate a dataframe to hold the above results
local_government_area_df = pd.DataFrame({
    "Total Schools": [total_schools], 
    "Total Students": [total_students], 
    "Total Budget": [total_budget], 
    "Average Math Score": [average_math_score], 
    "Average Reading Score": [average_reading_score], 
    "% Passing Math": [percentage_passing_math_score], 
    "% Passing Reading": [percentage_reading_score], 
    "% Overall Passing Rate": [overall_percentage_passing_rate]})
#Optional: give the displayed data cleaner formatting
local_government_area_df["Total Budget"] = local_government_area_df["Total Budget"].map("${:,.2f}".format)

local_government_area_df[["Total Schools",
      "Total Students",
      "Total Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing Rate"]]

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,"$82,932,329,558.00",70.338192,69.980138,86.078632,84.426857,70.159165

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
#Create an overview table that summarises key metrics about each school, including:
#School Name
school_summary_df = school_data_complete.groupby(["school_name"])
#School type
school_type = school_summary_df["type"].first()
#Total Students
total_students = school_summary_df["Student ID"].count()
#total School budget
school_budget = school_summary_df["budget"].first()
#Per Student Budget
per_student_budget = school_budget/total_students
#average math score
ave_math_score = school_summary_df["maths_score"].mean()
#average reading score
ave_reading_score = school_summary_df["reading_score"].mean()
#% Passing maths
passing_maths = school_data_complete[school_data_complete["maths_score"]>=50].groupby(["school_name"])["maths_score"].count()
percent_passing_maths = passing_maths/total_students * 100
#% Passing Reading
passing_reading = school_data_complete[school_data_complete["reading_score"]>=50].groupby(["school_name"])["reading_score"].count()
percent_passing_reading = passing_reading/total_students * 100
#Overall Passing (The percentage of students that passed maths and reading.)
overall_passing_percentage = (percent_passing_maths + percent_passing_reading) / 2
#Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({
    "School Type": school_type, 
    "Total Students": total_students, 
    "Per Student Budget": per_student_budget, 
    "Average Math Score": ave_math_score, 
    "Average Reading Score": ave_reading_score, 
    "% Passing Maths": percent_passing_maths, 
    "% Passing Reading": percent_passing_reading, 
    "% Overall Passing Rate": overall_passing_percentage})

school_summary_df.head()

,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Bailey High School,Government,4976,628.0,72.352894,71.008842,91.639871,87.379421,89.509646
Cabrera High School,Independent,1858,582.0,71.657158,71.359526,90.850377,89.074273,89.962325
Figueroa High School,Government,2949,639.0,68.698542,69.077993,81.654798,82.807731,82.231265
Ford High School,Government,2739,644.0,69.091274,69.572472,82.438846,82.219788,82.329317
Griffin High School,Independent,1468,625.0,71.788147,71.245232,91.212534,88.487738,89.850136

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [17]:
top_schools_df=school_summary_df.sort_values(by='% Overall Passing Rate') 
top_schools_df.head()

,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Hernandez High School,Government,4635,652.0,68.874865,69.186408,80.949299,81.877023,81.413161
Huang High School,Government,2917,655.0,68.935207,68.910525,81.693521,81.453548,81.573534
Johnson High School,Government,4761,650.0,68.843100,69.039277,82.062592,81.978576,82.020584
Wilson High School,Independent,2283,578.0,69.170828,68.876916,82.785808,81.296540,82.041174
Figueroa High School,Government,2949,639.0,68.698542,69.077993,81.654798,82.807731,82.231265

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [18]:
bottom_schools_df=school_summary_df.sort_values(by='% Overall Passing Rate', ascending=False)
bottom_schools_df.head()

,School Type,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,
Cabrera High School,Independent,1858,582.0,71.657158,71.359526,90.850377,89.074273,89.962325
Griffin High School,Independent,1468,625.0,71.788147,71.245232,91.212534,88.487738,89.850136
Bailey High School,Government,4976,628.0,72.352894,71.008842,91.639871,87.379421,89.509646
Holden High School,Independent,427,581.0,72.583138,71.660422,89.929742,88.524590,89.227166
Wright High School,Independent,1800,583.0,72.047222,70.969444,91.777778,86.666667,89.222222

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Year

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [52]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340